@media (max-width: 889px) {
  body {
    padding: 0 2.5rem * $fact;
  }
  main {
    width: 100%;
    @include flex(center,center);
  }

  main .first-section {
    width: 100%;
  }

  .second-section {
    width: 100%;
    margin-top: 16px;
    text-align: center;
  }

  main .left {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    .triangle {
        display: none;
    }
  }
}
