main {
  position: relative;
  height: 20rem * $fact;
  width: 92rem * $fact;
  //   background-color: black;
  @include flex(space-between, flex-end);
  flex-wrap: wrap;
  .first-section,
  .actions,
  .second-section,
  .left {
    border-radius: $border;
  }
}

main .first-section {
  padding: 4rem * $fact;
  width: 35rem * $fact;
  background-color: color(dark-blue);
  height: 20rem * $fact;
  border-top-right-radius: 10rem * $fact;
  @include flex(space-between, flex-start);
  flex-direction: column;
}

.actions-div {
  height: 4.8rem * $fact;
  width: 17.6rem * $fact;
  @include flex(space-between, stretch);
  .actions {
    width: 4.8rem * $fact;
    background-color: color(very-dark-blue);
    @include idealFlex;
  }
}

.second-section {
  font-size: 1rem;
  padding: 4rem * $fact;
  color: white;
  position: relative;
  width: 54rem * $fact;
  height: 15.4rem * $fact;
  background-color: color(dark-blue);
  h3 {
    font-weight: 400;
    span {
      font-weight: 700;
    }
  }
}

.bar-div {
  height: 2rem * $fact;
  width: 100%;
  padding: 0.4rem * $fact;
  background-color: color(very-dark-blue);
  margin: 1.5rem * $fact 0 1.3rem * $fact;
  border-radius: $border;
  .bar {
    padding: 2px;
    position: relative;
    height: 100%;
    background: linear-gradient(
      to right,
      color(gradient-start),
      color(gradient-end)
    );
    border-radius: $border;
    width: 81.5%;
    @include flex(flex-end, center);
    .bar-pointer {
      height: 1rem * $fact;
      width: 1rem * $fact;
      border-radius: 50%;
      background-color: white;
    }
  }
}

.extreme-values {
  width: 100%;
  @include flex(space-between, flex-start);
  p {
    font-weight: 700;
    font-size: 1rem;
  }
}

main .left {
  height: 7.2rem * $fact;
  width: 18rem * $fact;
  position: absolute;
  top: -4.5rem * $fact;
  right: 4rem * $fact;
  background-color: white;
  @include idealFlex;
  p {
    color: color(grayish-blue);
    font-weight: 700;
    font-size: 1rem;
  }
  p.data-left {
    color: color(very-dark-blue);
    font-weight: 700;
    font-size: 3rem;
    margin-right: 0.7rem;
  }
  .triangle {
    z-index: 2;
    position: absolute;
    top: 100%;
    transform: rotate(-135deg) translate(12px, 56px);
    right: 0;
    //   background-color: black;
    width: 0px;
    height: 0px;
    border-top: 3.1rem * $fact solid white;
    border-bottom: 3.1rem * $fact solid transparent;
    border-left: 3.1rem * $fact solid transparent;
    border-right: 3.1rem * $fact solid transparent;
  }
}
