$colors: (
  pale-blue: hsl(243, 100%, 93%),
  grayish-blue: hsl(229, 7%, 55%),
  dark-blue: hsl(228, 56%, 26%),
  very-dark-blue: hsl(229, 57%, 11%),
  gradient-start: hsl(6, 100%, 80%),
  gradient-end: hsl(335, 100%, 65%),
);

$fact: (10/14);
$border: .9rem*$fact;

@function color($color) {
  @return map-get($colors, $color);
}

@mixin flex($just,$align) {
  display: flex;
  justify-content: $just;
  align-items: $align;
}

@mixin idealFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 14px;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: color(very-dark-blue);
  @include idealFlex;
}

.background {
  pointer-events: none;
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.mob-back {
  display: none;
}

@import "./main";